.container {
    border: 1px;
    border-width: 5px;
    border-style: solid;
    border-color: tomato;
    padding: 10px;
}

.menu {
    gap: 20px;
    list-style: none;
}

.flex {
    display: flex;
    flex-direction: row;
}

.flex-1 {
    flex: 1;
}

.borda {
    border-width: 5px;
    border-style: solid;
}

.corborda {
    border-color: gray;
}

.esp {
    padding: 10px;
}